<a href="https://colab.research.google.com/github/angad26/Machine-Learning-Basics/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.externals import joblib

In [67]:
url = 'https://raw.githubusercontent.com/angad26/Machine-Learning-Basics/main/music.csv'
df = pd.read_csv(url)
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [68]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [69]:
X = df.drop(columns='genre')
Y = df['genre']

X_Train, X_Test, Y_Train, Y_Test = train_test_split(X,Y,test_size=0.2)

In [70]:
model = DecisionTreeClassifier()
model.fit(X_Train,Y_Train)
# joblib.dump(model,'music-model.joblib')

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [71]:
predictions = model.predict(X_Test)
predictions

array(['Dance', 'Jazz', 'Acoustic', 'HipHop'], dtype=object)

In [72]:
score = accuracy_score(Y_Test, predictions)
print(score*100,'%')

100.0 %